body{
  background-image:url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
}
.App {
  text-align: center;
  color:rgb(0, 255, 145);
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
}

.due {
  border: 1px solid yellow;
}
